extends layout
block content
    .container.formContainer
        #successMessage.alert.alert-success.hide
            p Success! Please check your e-mail for the next few steps.
        #errorMessage.alert.alert-danger.hide
            p  Sorry, there was an error. Please check your e-mail and try again. Please note that the field is case sensitive.
        form(role="form").form-horizontal#forgotPasswordForm
            .form-group
                label(for="userEmail").control-label.col-xs-4.col-md-1 Email
                .col-xs-8.col-md-4
                    input(type="email", placeholder="Enter the E-mail you registered with" required).form-control#userEmail
            button(type="submit" class="btn btn-default") Submit
block scripts
    script.
        var resetHide = function () {
            $("#errorMessage").addClass("hide");
            $("#notActivated").addClass("hide");
        };
        $('#forgotPasswordForm').on('submit', function () {
            if (!$('#forgotPasswordForm').checkValidity || $('#forgotPasswordForm').checkValidity()) {
                var data = { userEmail : $('#userEmail').val() };
                $.ajax({
                type: "POST",
                url: '/forgotpassword',
                data: data,
                success: function () {
                    resetHide();
                    $("#successMessage").removeClass("hide");
                },
                statusCode: {
                    500: function () {
                        resetHide();
                        $("#errorMessage").removeClass("hide");
                    }
                }
                });
            }
        });



