extends layout
block content
    .container.formContainer
        #errorMessage.alert.alert-danger.hide
            p  Sorry, there was an error. Please check the e-mail you've input and try again.
        #successMessage.alert.alert-success.hide
            p  Success! Please check your e-mail for further instructions.
        form(role="form").form-horizontal#resendForm
            .form-group
                label(for="userEmail").control-label.col-xs-4.col-md-1 Email
                .col-xs-8.col-md-4
                    input(type="email", placeholder="Please enter the e-mail you used to sign up." required).form-control#userEmail
            button(type="submit" class="btn btn-default") Submit
block scripts
    script.
        var resetHide = function () {
            $("#errorMessage").addClass("hide");
            $("#successMessage").addClass("hide");
        };
        $('#resendForm').on('submit', function () {
            if (!$('#resendForm').checkValidity || $('#resendForm').checkValidity()) {
                var data = { userEmail : $('#userEmail').val() };
                $.ajax({
                type: "POST",
                url: '/resendEmail',
                data: data,
                success: function () {
                    resetHide();
                    $("#successMessage").removeClass("hide");
                },
                error: function () {
                    resetHide();
                    $("#errorMessage").removeClass("hide");
                }
                });
            }
        });



